<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>
	the <a href="http://rubyonrailstutorial.org/">Ruby on rails Tutorial</a>
	is a project to make a book and screencasts to teach web development
	with <a href="http://rubyonrailstutorial.org/">Ruby on rails Tutorial</a>
	is the samlpe application for the tutorial.
	
</p>

